.card-dulceria {
  // cursor: pointer;
  &__figure {
    padding-top: 16px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &__img {
    width: auto !important;
    max-height: 100%;
    transition: all 0.25s;
  }
  &:hover &__img{
    transform: scale(0.92) rotate(2deg);
  }  
  &.active {
    box-shadow: 0 0 .5rem .25rem rgba(13, 110, 253, 0.15);
  }
}
