.list-premiere{
  
  &__img{    
    max-width: 220px;
    transition: all .15s;
    &:hover{
      opacity: 0.85;
    }
    @media(min-width:576px){
      max-width: 170px;      
    }    
    @media(min-width:768px){
      max-width: 230px;      
    }
    @media(min-width:992px){
      max-width: 280px;      
    }
  }
}